body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1600px;
}


header{
    background-image: linear-gradient(#FFFFFF , #62c7ec , #206aab);
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.content-cabecalho {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 30px;
}
.logo img{
    width: 120px;
    border-radius: 10px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu li{
    padding: 15px;
    list-style: none;
    transition: 0.3s;
    border-radius: 10px;
}
.menu li a{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
    text-
}
.menu li a:hover{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    
}
.menu li:hover{
    transform: scale(1.2);
    
}
.banner{
    background-color: rgb(136, 134, 134);
    text-align: center;
}
.banner img{
    width: 100%;
    max-height: 500px;

}

.curiosidades{
    background-image: linear-gradient(#347fc0 , #205fab , rgb(34, 105, 167));
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.titulo {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 0;
}
.itens{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    width: 80%;
}
.item{
    border-radius: 15px;
    width: 210px;
    height: 300px;
    border: 1px solid black;
    transition: 0.3s;
    display: flex;
    
    flex-direction: column;
    gap: 7px;
    align-items: center;
    padding: 5px;
}
.item:hover{
    transform: scale(1.1);
}
.item img{
    width: 100%;
    padding: 3px;
    border-radius: 10px;
}

.item h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ramaraja',sans-serif;
}

.item p{
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;    
}
.video{
    background-image: linear-gradient( rgb(34, 105, 167), #205fab ,#347fc0 );
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.video iframe{
    margin: 25px ;
    min-width: 300px;
    width: 50%;
    max-width: 516px;
    min-height: 330px;
    border-radius: 20px;
    
}

footer{
    background-image: linear-gradient( #347fc0, #205fab ,rgb(34, 105, 167) );
    text-align: center;
    padding: 25px;
}
.icone{
    display: inline-block;
    border-radius: 100px;
    padding: 20px;
}

.icone  a  img {
    width: 55px;
    height: 55px;
    transition: 0.3s;
}
.icone a img:hover{
    transform: scale(1.2) rotate(360deg);
    
}
footer p{
    font-size: 13px;
    font-style: italic;
    font-family: 'Ramaraja',serif;
}

@media only screen and (max-width: 720px) {
    .content-cabecalho{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu li {
        width: 70%;
    }

    .curiosidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item{
        width: 70%;
        min-width: 300px;
    }
}
